---
// 背景のオーブとグリッド
---

<!-- 背景オーブ -->
<div class="bg-orb-purple -top-[15%] -left-[10%] w-1/2 h-1/2 z-0"></div>
<div class="bg-orb-teal -bottom-[10%] -right-[10%] w-[45%] h-[45%] z-0"></div>
<div class="bg-orb-pink top-[40%] right-[15%] w-[30%] h-[30%] z-0"></div>

<!-- 背景グリッド -->
<div class="bg-grid z-[1]"></div>
